.key {
    position:relative;
}

.whiteKey {
    background-color: ghostwhite;
    height: 100%;
    border: solid black 1px;
    z-index: 1;
}

/* 25 keys */
.key:first-child:nth-last-child(25),
.key:first-child:nth-last-child(25) ~ .whiteKey {
    margin: 0 auto 0 auto;
    width: 6vw;
}

/* 37 keys */
.key:first-child:nth-last-child(37),
.key:first-child:nth-last-child(37) ~ .whiteKey {
    margin: 0 auto 0 auto;
    width: 4.286vw;
}

/* 49 keys */
.key:first-child:nth-last-child(49),
.key:first-child:nth-last-child(49) ~ .whiteKey {
    margin: 0 auto 0 auto;
    width: 3.21vw;
}

/* 61 keys */
.key:first-child:nth-last-child(61),
.key:first-child:nth-last-child(61) ~ .whiteKey {
    margin: 0 auto 0 auto;
    width: 2.57vw;
}

.blackKey {
    background-color: black;
    max-height: 60%;
    z-index: 2;
}

/* 25 keys */
.key:first-child:nth-last-child(25) ~ .blackKey {
    width: 3vw;
    margin: 0 -1.5vw 0 -1.5vw;
}

/* 37 keys */
.key:first-child:nth-last-child(37) ~ .blackKey {
    width: 2.14vw;
    margin: 0 -1.07vw 0 -1.07vw;
}

/* 49 keys */
.key:first-child:nth-last-child(49) ~ .blackKey {
    width: 1.61vw;
    margin: 0 -.8vw 0 -.8vw;
}

/* 61 keys */
.key:first-child:nth-last-child(61) ~ .blackKey {
    width: 1.286vw;
    margin: 0 -.64vw 0 -.64vw;
}
